skill-zips/
__pycache__/
.DS_Store
.env

# skills zip file
skills.zips/*


# local markdown file 
AUDIT_AND_REDESIGN_REPORT.md
GITHUB_PUBLISHING.md
VALIDATION_REPORT.md

# platforms
.opencode/*
.superpowers/*
.planning/*
.cline/

# examples
examples/01-example/node_modules/
examples/01-example/dist/
examples/02-example/node_modules/
examples/02-example/dist/

# git worktrees
.worktrees/


